<!DOCTYPE html>
<html ng-app="quizApp">
<head>
<title>Start Exam</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.9/angular-filter.js"></script>
  <script src="js/controller/exam.js"> </script>
  <script src="js/service/data.js"> </script>
  <script src="js/factory/exam.js"> </script>

  </head>
<body ng-controller="quizCtrl">

<hr>
<button  type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal" >{{countdown}}{{message}}</button>


  <div ng-repeat="question in questions"  >
  <style>div{ margin-left: 80px;}

</style>{{question.question}}
           
        <ul>
        
        <div ng-repeat="option in question.options">
         <label>
          <md-radio-group ng-model="data.options">

          <input type="radio"  value="{{options}}"/>
          {{option}}
        </label>
        </div>
      </li>
    </ul>
    </md-radio-group >
    </div>
    </div>
    </div>
      
    <button class="btn btn-info btn-lg pull-right" type="submit" ng:click="showResult()">Submit</button>
<div class="well">
    <p>you got {{ correctCount }} out of {{questions.length}} right</p>



</body>
</html>